a:link,
a:active,
a:visited {
    color: lightgreen;
}

a:hover{
    color: darkorange;
}
body {
    background-color: black;
    color: lightgreen;
    font-family: Courier, sans-serif;

}

#title {
    background-color: darkgreen;
    text-align: center;
    border-radius: 100px;
}
.currentPage{
    filter: blur(1px);
}
#navbar {}

#navbar > ul {
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: hsla(145, 100%, 50%, 0.13);
}

#navbar > ul > li {
    padding: 10px 40px;
    display: inline-block;
    font-weight: bold;
    background-color: darkgreen;
    border-radius: 100px;
    border: 1px dotted #001700;
    transition: 0.4s;
}

#navbar > ul > li:hover {
    background-color: green;
}

p, #links{
    font-size:24px;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    list-style: none;
}

