a:link,
a:active,
a:visited {
    color: lightgreen;
}
a:hover {
    color: darkorange;
}
body {
    background-color: black;
    color: lightgreen;
    font-family: Courier, sans-serif;
}
h2 {
    font-size: 2em;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}
hr {
    border-color: green;
}
#title {
    background-color: darkgreen;
    text-align: center;
    border-radius: 100px;
}
.currentPage {
    filter: blur(1px);
}

.project {
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(118, 100%, 21%);
}
.git {
    background-color: white;
    border-radius: 100px;
    width: 10%;
    height: 10%;
}

.screenshot{
    padding-left: 80px;
}

#navbar {} #navbar > ul {
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: hsl(145, 100%, 10%);
}
#navbar > ul > li {
    padding: 10px 40px;
    display: inline-block;
    font-weight: bold;
    background-color: darkgreen;
    border-radius: 100px;
    border: 1px dotted #001700;
    transition: 0.4s;
}
#navbar > ul > li:hover {
    background-color: green;
}

p,
#about-links,
.link {
    font-size: 1.5em;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}
.list {
    font-size: 1.5em;
    text-align: left;
    padding-left: 120px;
    padding-right: 80px;
}